<?xml version="1.0"?>
   <launch>

      <!-- Rplidar Node /-->
      <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/rplidar_1"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
      </node>

      <!-- IMU Node /-->
      <node name="lpms_imu_node"          pkg="lpms_imu"  type="lpms_imu_node" output="screen">
        <param name="sensor_model"      type="string"    value="DEVICE_LPMS_RS232"/>
        <param name="port"              type="string"    value="/dev/imu_1"/>
        <param name="frame_id"          type="string"    value="laser"/>
        <param name="rate"              type="int"       value="200"/>
      </node>

      <param name="/use_sim_time" value="false" />
      <node name="cartographer_node"
            pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory /home/ghost/catkin_ws/src/cartographer_px4/config_files/ -configuration_basename rplidar_demo_lpms_imu.lua"
            output="screen">
      </node>
      <node name="cartographer_occupancy_grid_node"
            pkg="cartographer_ros"
            type="cartographer_occupancy_grid_node" />
      <node name="robot_pose_publisher"
            pkg="robot_pose_publisher"
            type="robot_pose_publisher"
            respawn="false"
            output="screen" />

      <node name="rviz" pkg="rviz" type="rviz" required="true"
            args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

      <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100" />
   </launch>
